@font-face {
  font-family: 'Alborello';
  font-style: normal;
  font-weight: normal;
  src: local('Alborello'), url('../font/Alberobello\ Serif\ Regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  display: flex;
  height: 670px;
}

.block-content {
  margin: auto;
}


.intro-call-btn {
  margin: auto;
  padding:30px 50px;
  border-radius: 30px;
  color: white;
  background-color: gold;
  border: none;
  border: none !important;
  font-size: 21px;
  font-family: Montserrat;
  cursor: pointer;
  transition: ease-in-out 0.23s;
  margin: 50px auto;
  margin-bottom: 0;
  font-weight: bold;
}

.intro-call-btn:hover {
  transform: scale(1.105);
  
  border: none !important;
}