.Refunds {
    background-color: gold;
}

.Refunds-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: white;
        font-family: Montserrat;
    }
    
    p {
        font-size: 18px;
        max-width: 50%;
        margin: auto;
        font-family: Open Sans;
        color: white;
        font-weight: 500
    }
    
    img {
        margin: auto;
    }
}


@media screen and (max-width: 768px) {  
    .Refunds-inner  {
        h2 {
        font-size: 32px;
    }
    p {
        max-width: 90% !important;
        line-height: 32px;
    }
    }
}
